<h1>Login</h1>
<form action="/loginaction" method="post">
    <dl>
        <dt><label for="login">Login : </label></dt>
        <dd><input type="text" id="login" name="login"></dd>
        <dt><label for="pass">Password : </label></dt>
        <dd><input type="password" name="pass" id="pass"></dd>
        <dt><label for="remember"></label></dt>
        <dd><input type="checkbox" name="remember" id="remember"></dd>
        <dt><input type="submit"></dt>
    </dl>
</form>