<div class="contReg">
    <h1>Registration</h1>
    <form action="/regaction" method="post">
        <dl>
            <dt><label for="login">Login : </label></dt>
            <dd><input type="text" id="login" name="login"></dd>
            <dt><label for="pass">Password : </label></dt>
            <dd><input type="password" name="pass" id="pass"></dd>
            <dt><label for="conf">Confirm password : </label></dt>
            <dd><input type="password" name="conf" id="conf"></dd>
            <dt><label for="email">Email : </label></dt>
            <dd><input type="email" name="email" id="email"></dd>
            <dt><input type="submit" value="send"></dt>
        </dl>
    </form>
</div>
